.text{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #083d77;
}

body{
    background-color: #083d77;
    text-align: left;
}

.image1{
    width: auto;
    height: 30px;
}

.navbarclr{
    background-color: #f9ecd2 !important;
}

.spacenav{
    padding-left: 770px;
}

.title{
    text-align: center;
    color: #f9ecd2;
    padding-top: 20px;
}

h1{
    font-size: 30px;
}

h4{
    color: #f9ecd2;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

h5{
    color: #f9ecd2;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}


.popcorn1{
    padding-left: 250px;
    padding-bottom: 25px;
}

.popcorn2{
    padding-right: 250px;
    padding-bottom: 25px;
}

.card1{
    background-color: #083d77;
    padding-top: 30px;
    border: none;
    padding-left: 30px;
    display: inline-block;
}

.card2{
    margin-left: 82px;
}

.card3{
    margin-left: 235px;
}

.buttons{
    margin-top: 30px;
    margin-left: 19%;
    display: inline-block;
}

.button-back{
    margin-top: 30px;
    margin-left: 5%;
    display: inline-block;
    width: 90px;
}

.btn-primary{
    width: 100%;
    background-color: #1F68AA !important;
    border: #F4D35E solid 3px;
    border-radius: 30px;
    color: #f9ecd2;
}

.btn-primary:hover{
    background-color: #1F68AA !important;
    border: #F4D35E solid 3px;
    border-radius: 30px;
    color: #f9ecd2;
}

.btn-send{

}

.btn-cancel{
    
}

.review{
    padding-top: 30px;
    color: #f9ecd2 !important;
}

.review-container{
    background-color: #1F68AA;
    margin: 2%;
    border-radius: 30px;
    padding: 2%;
}

.review-image{
    border-radius: 20px;
    width: 20%;
    margin-top: 2%;
}

.information{
    color: #083d77;
    padding-top: 10px;
}

p{
    color: #f9ecd2;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.text-place{
    display: inline-flex;
    margin-left: 25%;
    margin-top: 0%;
}