.text{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #083d77;
}

body{
    background-color: #083d77;
    text-align: left;
}

.image1{
    width: auto;
    height: 30px;
}

.navbarclr{
    background-color: #f9ecd2 !important;
}

.spacenav{
    padding-left: 770px;
}

.title{
    text-align: center;
    color: #f9ecd2;
    padding-top: 20px;
}

h1{
    font-size: 30px;
}

h4{
    color: #f9ecd2;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

h5{
    color: #f9ecd2;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}


.popcorn1{
    padding-left: 250px;
    padding-bottom: 25px;
}

.popcorn2{
    padding-right: 250px;
    padding-bottom: 25px;
}

.card1{
    background-color: #083d77;
    padding-top: 30px;
    border: none;
    padding-left: 30px;
    display: inline-block;
}

.buttons{
    margin-top: 30px;
    margin-left: 19%;
    display: inline-block;
}

.btn-primary{
    width: 100%;
    height: 100%;
    background-color: #1F68AA !important;
    border: #F4D35E solid 3px;
    border-radius: 30px;
    color: #f9ecd2;
}

.btn-primary:hover{
    background-color: #1F68AA !important;
    border: #F4D35E solid 3px;
    border-radius: 30px;
    color: #f9ecd2;
}
